<div class='list-footer'>
  {{#if this.showForm}}
    <form {{on 'submit' this.save}}>
      <Input
        class='form-control'
        placeholder='New Card Title'
        @value={{this.title}}
        autofocus='true'
      />
      <button
        class='btn fullwidth btn-hidden' type="button"
      >Submit</button>
    </form>
  {{else}}
    <button class='btn btn-text' type="button" {{on 'click' this.toggleForm}}>
      <span class='fa fa-plus'></span>
      Add new card...
    </button>
  {{/if}}
</div>