<div ...attributes>
  <h2>Add List</h2>

  <form {{on 'submit' this.save}}>
    <Input placeholder='List Name' class='form-control' @value={{this.list}} />
    <Input placeholder='Card Title' class='form-control' @value={{this.title}} />

    <button class='fullwidth btn btn-save' type="submit">Save</button>
    {{!-- {{on 'click' this.save}}  --}}
  </form>
</div>